server:
  port: 8100

spring:
  application:
    name: currency-service

  # Optional: helpful if you're using WebClient or reactive tracing
  main:
    web-application-type: reactive

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,mappings
  endpoint:
    health:
      show-details: always

  tracing:
    enabled: true
    sampling:
      probability: 1.0  # Capture 100% of traces
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
